# Tuần 3

In [1]:
#Bài 1: Sắp xếp value theo keys
def print_sorted_values(D):
    sorted_values = [value for (key, value) in sorted(D.items())]
    return sorted_values

#Test case
D = {'1': 'one', '3': 'three', '2': 'two', '4': 'four'}
print_sorted_values(D)

['one', 'two', 'three', 'four']

In [4]:
# Bài 2: In ra các value khác nhau trong từ điển D.

def print_unique_values(D):
    unique_values = set(D.values())
    for value in unique_values:
        print(value)

#Test case
print_unique_values(D)

three
four
two
one

# test

In [5]:
# abc