**Numpy (Practice)**

---



Lecturer: **Nguyen Van Thieu**

# Bài tập

## Bài tập 1: Tạo mảng
Tạo các mảng NumPy như sau:

1) Tạo một mảng một chiều chứa các số từ 1 đến 10.

2) Tạo một mảng 2x3 chứa các số nguyên ngẫu nhiên từ 1 đến 10.

3) Tạo ma trận đơn vị kích thước 3x3.

4) Tạo mảng 4 chiều có kích thước là 3x2x5x4. Giá trị là các số ngẫu nhiên từ -1 đến 2.

In [2]:
import numpy as np
one_dim_array = np.arange(1, 11)
print("Mảng 1 chiều:\n", one_dim_array, "\n")

two_dim_array = np.random.randint(1, 11, size=(2, 3))
print("Mảng 2 chiều:\n", two_dim_array, "\n")

identity_matrix = np.eye(3)
print("Ma trận đơn vị:\n", identity_matrix, "\n")

four_dim_array = np.random.randint(-1, 3, size=(3, 2, 5, 4))
print("Mảng 4 chiều:\n", four_dim_array, "\n")

Mảng 1 chiều:
 [ 1  2  3  4  5  6  7  8  9 10]

Mảng 2 chiều:
 [[1 1 9]
 [2 9 4]]

Ma trận đơn vị:
 [[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

Mảng 4 chiều:
 [[[[-1 -1  1 -1]
   [ 2  2 -1  2]
   [ 2  2  1  2]
   [-1  0  2  2]
   [ 1  1  1  0]]

  [[ 2  0  0 -1]
   [ 2  1  0 -1]
   [ 2  2  0  2]
   [ 0  0 -1 -1]
   [ 0  0  1  1]]]


 [[[-1  2 -1  1]
   [ 2  2  0 -1]
   [ 1  2 -1  1]
   [ 2  2 -1 -1]
   [ 0  0 -1 -1]]

  [[ 0  2  1 -1]
   [ 1 -1  0  2]
   [-1  0  1  2]
   [-1 -1  1  2]
   [-1  2 -1  0]]]


 [[[ 1  0 -1  1]
   [-1 -1 -1  1]
   [ 0  1  2  0]
   [-1  1  2  1]
   [ 1  0  1  1]]

  [[ 1  0 -1  2]
   [ 1 -1  0  1]
   [ 1  2 -1  2]
   [-1  2 -1  2]
   [ 0  1  0 -1]]]]

## Bài tập 2: Chỉ mục và cắt mảng
Cho mảng arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), thực hiện các thao tác sau:

1) In ra phần tử ở hàng thứ hai, cột thứ ba.

2) Cắt lấy hai hàng đầu tiên của mảng.

3) Trích xuất cột cuối cùng của mảng.

4) Lấy ra ma trận vuông [[1, 3], [7, 9]]

In [3]:
# array
arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

# Task 1:
print("Phần tử ở hàng thứ hai, cột thứ ba:", arr[1, 2])

# Task 2:
print("Hai hàng đầu tiên của mảng:", arr[:2])

# Task 3:
print("Cột cuối cùng của mảng:", arr[:, -1])

# Task 4:
print("Ma trận vuông [[1, 3], [7, 9]]:", arr[[0, 2]][:, [0, 2]])

Phần tử ở hàng thứ hai, cột thứ ba: 6
Hai hàng đầu tiên của mảng: [[1 2 3]
 [4 5 6]]
Cột cuối cùng của mảng: [3 6 9]
Ma trận vuông [[1, 3], [7, 9]]: [[1 3]
 [7 9]]

## Bài tập 3: Các phép toán trên mảng
Thực hiện các phép toán sau bằng mảng NumPy:

1) Tạo hai mảng a = np.array([1, 2, 3]) và b = np.array([4, 5, 6]). Tính tổng từng cặp phần tử tương ứng của chúng.

2) Tạo một mảng mới c bằng cách lấy bình phương từng phần tử của mảng a.

3) Tính tích vô hướng của hai mảng a và b.

In [4]:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
sum_array = a + b
print("Tổng từng cặp phần tử của hai mảng:", sum_array)

c = a ** 2
print("Bình phương từng phần tử của mảng a:", c)

dot_product = np.dot(a, b)
print("Tích vô hướng của hai mảng a và b:", dot_product)

Tổng từng cặp phần tử của hai mảng: [5 7 9]
Bình phương từng phần tử của mảng a: [1 4 9]
Tích vô hướng của hai mảng a và b: 32

## Bài tập 4: Thay đổi kích thước và nối mảng
Cho mảng x = np.array([[1, 2], [3, 4]]), thực hiện các thao tác sau:

1) Thay đổi kích thước của x thành mảng 4x1.

2) Tạo một mảng mới y = np.array([[5, 6]]) và nối nó với x theo chiều ngang.

3) Tạo mảng mới y = np.array([[5, 6]]) và nối nó với x theo chiều dọc.

In [5]:
# Array x
x = np.array([[1, 2], [3, 4]])

# Task 1: 4x1 array
x_reshaped = x.reshape((4, 1))

# Task 2:
y_horizontal = np.array([[5, 6]])
x_y_horizontal_concat = np.concatenate((x, y_horizontal), axis=0)

# Task 3:
y_vertical = np.array([[5], [6]])
x_y_vertical_concat = np.concatenate((x_reshaped, y_vertical), axis=0)

(x_reshaped, x_y_horizontal_concat, x_y_vertical_concat)

(array([[1],
        [2],
        [3],
        [4]]),
 array([[1, 2],
        [3, 4],
        [5, 6]]),
 array([[1],
        [2],
        [3],
        [4],
        [5],
        [6]]))

## Bài tập 5: Các hàm toán học
Tạo một mảng ngẫu nhiên A kích thước 5x7 chứa các số nguyên từ -5 đến 10, tính các giá trị sau:

1) Tính tổng của tất cả các phần tử trong A.

2) Tìm giá trị nhỏ nhất và lớn nhất trong từng cột của A.

3) Tìm giá trị độ lệch chuẩn theo hàng của mảng A

4) Tìm giá trị variance theo cột của mảng A

5) Tìm range theo cột của A

In [6]:
# Array A
A = np.random.randint(-5, 11, size=(5, 7))

# Task 1: Tổng của A
sum_A = A.sum()

# Task 2: Giá trị min - max
min_per_column = A.min(axis=0)
max_per_column = A.max(axis=0)

# Task 3: Độ lệch chuẩn
std_deviation_per_row = A.std(axis=1)

# Task 4: Variance
variance_per_column = A.var(axis=0)

# Task 5: Range
range_per_column = max_per_column - min_per_column

print("Tổng của A:", sum_A)
print("Giá trị nhỏ nhất trong mỗi cột của A:", min_per_column)
print("Giá trị lớn nhất trong mỗi cột của A:", max_per_column)
print("Độ lệch chuẩn theo hàng của A:", std_deviation_per_row)
print("Variance theo cột của A:", variance_per_column)
print("Range theo cột của A:", range_per_column)

Tổng của A: 143
Giá trị nhỏ nhất trong mỗi cột của A: [-1 -5 -3  0 -4  4  0]
Giá trị lớn nhất trong mỗi cột của A: [ 8  6  8 10  7 10  9]
Độ lệch chuẩn theo hàng của A: [4.95283881 2.71052371 2.4159335  4.84030696 4.89064079]
Variance theo cột của A: [10.4  24.4  15.44 11.76 15.44  6.4  11.44]
Range theo cột của A: [ 9 11 11 10 11  6  9]

## Bài tập 6: Truyền dữ liệu và toán tử trên mảng
Thực hiện các phép toán truyền dữ liệu sau:

1) Tạo một mảng x = np.array([1, 2, 3]) và cộng 5 vào từng phần tử của nó.

2) Tạo một ma trận số thực ngẫu nhiên 3x3 Y và nhân nó với một số vô hướng (ví dụ: 2).

3) Nhân ma trận Y trên với ma trận 1 chiều ngẫu nhiên khác có kích thước 3x5.

In [7]:
# Task 1: Add 5 to each element of the array x
x = np.array([1, 2, 3])
x_plus_5 = x + 5
print ("Kết quả 1: ", x_plus_5)

# Task 2: Create a random 3x3 real matrix Y and multiply it by a scalar (e.g., 2)
Y = np.random.rand(3, 3)
Y_times_scalar = Y * 2
print ("Kết quả 2: ", Y_times_scalar)

# Task 3: Multiply the matrix Y with another random one-dimensional array of size 3x5
# Since Y is a 3x3 matrix, we need a one-dimensional array of size 3 to multiply
one_dim_array = np.random.rand(3)
Y_times_vector = Y.dot(one_dim_array)  # or use np.matmul(Y, one_dim_array)
print ("Kết quả 3: ", Y_times_vector )

Kết quả 1:  [6 7 8]
Kết quả 2:  [[1.52805661 0.59352952 1.39611585]
 [1.71322332 1.25654069 0.44630484]
 [0.32558594 0.99997104 0.39360274]]
Kết quả 3:  [1.25873663 1.34620647 0.69485292]

## Bài tập 7: Chỉ mục Boolean
Cho một mảng arr = np.array([1, 2, 3,..., 99, 100]), lọc và in ra chỉ các phần tử

1) Lớn hơn giá trị trung bình của mảng

2) Bé hơn giá trị Q1 (Tứ phân vị thứ 1)

3) Lớn hơn giá trị Q3 (Tứ phân vị thứ 3)

4) Chia hết cho 2 nhưng không chia hết cho 3

5) Chia hết cho 5 nhưng không chia hết cho 2

6) Các số lẻ nhưng không chia hết cho 3

7) Các số chẵn nhưng không chia hết cho 5

In [8]:
import numpy as np

# Define the array
arr = np.array(range(1, 101))

# Task 1: Elements greater than the mean of the array
mean_val = np.mean(arr)
greater_than_mean = arr[arr > mean_val]

# Task 2: Elements smaller than the first quartile Q1
Q1 = np.percentile(arr, 25)
less_than_Q1 = arr[arr < Q1]

# Task 3: Elements greater than the third quartile Q3
Q3 = np.percentile(arr, 75)
greater_than_Q3 = arr[arr > Q3]

# Task 4: Elements divisible by 2 and not by 3
divisible_by_2_not_3 = arr[(arr % 2 == 0) & (arr % 3 != 0)]

# Task 5: Elements divisible by 5 and not by 2
divisible_by_5_not_2 = arr[(arr % 5 == 0) & (arr % 2 != 0)]

# Task 6: Odd numbers not divisible by 3
odd_not_divisible_by_3 = arr[(arr % 2 == 1) & (arr % 3 != 0)]

# Task 7: Even numbers not divisible by 5
even_not_divisible_by_5 = arr[(arr % 2 == 0) & (arr % 5 != 0)]

# Kết quả

print("Các phần tử:")
print("1) Lớn hơn giá trị trung bình của mảng:", greater_than_mean)
print("2) Bé hơn giá trị Q1 (Tứ phân vị thứ 1):", less_than_Q1)
print("3) Lớn hơn giá trị Q3 (Tứ phân vị thứ 3):", greater_than_Q3)
print("4) Chia hết cho 2 nhưng không chia hết cho 33:", divisible_by_2_not_3)
print("5) Chia hết cho 5 nhưng không chia hết cho 2:", divisible_by_5_not_2)
print("6) Các số lẻ nhưng không chia hết cho 3:", odd_not_divisible_by_3)
print("7) Các số chẵn nhưng không chia hết cho 5:", even_not_divisible_by_5)

Các phần tử:
1) Lớn hơn giá trị trung bình của mảng: [ 51  52  53  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68
  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86
  87  88  89  90  91  92  93  94  95  96  97  98  99 100]
2) Bé hơn giá trị Q1 (Tứ phân vị thứ 1): [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25]
3) Lớn hơn giá trị Q3 (Tứ phân vị thứ 3): [ 76  77  78  79  80  81  82  83  84  85  86  87  88  89  90  91  92  93
  94  95  96  97  98  99 100]
4) Chia hết cho 2 nhưng không chia hết cho 33: [  2   4   8  10  14  16  20  22  26  28  32  34  38  40  44  46  50  52
  56  58  62  64  68  70  74  76  80  82  86  88  92  94  98 100]
5) Chia hết cho 5 nhưng không chia hết cho 2: [ 5 15 25 35 45 55 65 75 85 95]
6) Các số lẻ nhưng không chia hết cho 3: [ 1  5  7 11 13 17 19 23 25 29 31 35 37 41 43 47 49 53 55 59 61 65 67 71
 73 77 79 83 85 89 91 95 97]
7) Các số chẵn nhưng không chia hết cho 5: [ 2  4  6  8 12 14 16 18 22 24 26 28 32 34 36 38 42 44 46 48 52 54 56 58
 62 64 66 68 72 74 76 78 82 84 86 88 92 94 96 98]

## Bài tập 8: Khám phá và sử dụng các hàm NumPy khác:

1) Tạo một mảng các giá trị nằm trong khoảng từ 0 đến 10 với np.linspace.

2) Sử dụng np.where để thay thế tất cả các phần tử của một mảng nhỏ hơn 5 bằng 0 và các phần tử khác bằng 1.

3) Sử dụng hàm np.random.choice() để lấy ngẫu nhiên một phần tử từ một mảng đã cho. Đưa ra ví dụ minh họa.

4) Sử dụng hàm np.linalg.solve() để giải hệ phương trình tuyến tính Ax = b. Trình bày cách sử dụng và đưa ra ví dụ.

5) So sánh hàm np.concatenate() với hàm np.vstack() và np.hstack(). Khi nào thì bạn nên sử dụng mỗi hàm này? Đưa ra ví dụ

6) Giải thích sự khác nhau giữa np.linspace() và np.logspace() trong NumPy.
Đưa ra ví dụ

7) Sử dụng np.unique() để lọc ra các giá trị duy nhất từ một mảng đã cho. Đưa ra ví dụ minh họa. Đếm số lần xuất hiện các giá trị duy nhất đó.

In [9]:
#1) Tạo một mảng các giá trị nằm trong khoảng từ 0 đến 10 với np.linspace.
import numpy as np

# Tạo một mảng 50 phần tử từ 0 đến 10
arr_linspace = np.linspace(0, 10, 50)
print("Mảng tạo bởi np.linspace từ 0 đến 10:", arr_linspace)

Mảng tạo bởi np.linspace từ 0 đến 10: [ 0.          0.20408163  0.40816327  0.6122449   0.81632653  1.02040816
  1.2244898   1.42857143  1.63265306  1.83673469  2.04081633  2.24489796
  2.44897959  2.65306122  2.85714286  3.06122449  3.26530612  3.46938776
  3.67346939  3.87755102  4.08163265  4.28571429  4.48979592  4.69387755
  4.89795918  5.10204082  5.30612245  5.51020408  5.71428571  5.91836735
  6.12244898  6.32653061  6.53061224  6.73469388  6.93877551  7.14285714
  7.34693878  7.55102041  7.75510204  7.95918367  8.16326531  8.36734694
  8.57142857  8.7755102   8.97959184  9.18367347  9.3877551   9.59183673
  9.79591837 10.        ]

In [10]:
#2 Sử dụng np.where để thay thế tất cả các phần tử của một mảng nhỏ hơn 5 bằng 0 và các phần tử khác bằng 1.

arr = np.array([1, 2, 5, 7, 4, 6, 3])
modified_arr = np.where(arr < 5, 0, 1)
print("Mảng sau khi thay thế:", modified_arr)

Mảng sau khi thay thế: [0 0 1 1 0 1 0]

In [11]:
#3) Sử dụng hàm np.random.choice() để lấy ngẫu nhiên một phần tử từ một mảng đã cho.

sample_arr = np.array([10, 20, 30, 40, 50])
random_element = np.random.choice(sample_arr)
print("Phần tử ngẫu nhiên từ mảng:", random_element)

Phần tử ngẫu nhiên từ mảng: 50

In [12]:
#4) Sử dụng hàm np.linalg.solve() để giải hệ phương trình tuyến tính Ax = b.

A = np.array([[3, 1], [1, 2]])
b = np.array([9, 8])
x = np.linalg.solve(A, b)
print("Giải hệ phương trình tuyến tính Ax = b, x =", x)

Giải hệ phương trình tuyến tính Ax = b, x = [2. 3.]

**5) So sánh hàm np.concatenate() với hàm np.vstack() và np.hstack().**

np.concatenate(): Gộp các mảng theo trục đã chỉ định.

np.vstack(): Gộp các mảng theo chiều dọc (stack vertically).

np.hstack(): Gộp các mảng theo chiều ngang (stack horizontally).

In [13]:
a = np.array([1, 2, 3])

b = np.array([4, 5, 6])

# np.concatenate()
concat = np.concatenate((a, b))
print("Concatenate:", concat)

# np.vstack()
vstack = np.vstack((a, b))
print("VStack:", vstack)

# np.hstack()
hstack = np.hstack((a, b))
print("HStack:", hstack)

Concatenate: [1 2 3 4 5 6]
VStack: [[1 2 3]
 [4 5 6]]
HStack: [1 2 3 4 5 6]

**#6) Giải thích sự khác nhau giữa np.linspace() và np.logspace().**

np.linspace() tạo ra một dãy số tuyến tính giữa hai điểm cho trước.

np.logspace() tạo ra một dãy số theo thang logarit giữa hai lũy thừa của 10.

In [14]:
lin = np.linspace(1, 10, 10)
log = np.logspace(1, 10, 10, base=10)
print("Linspace:", lin)
print("Logspace:", log)

Linspace: [ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10.]
Logspace: [1.e+01 1.e+02 1.e+03 1.e+04 1.e+05 1.e+06 1.e+07 1.e+08 1.e+09 1.e+10]

In [15]:
#7. Sử dụng np.unique() để lọc ra các giá trị duy nhất từ một mảng đã cho.

arr_with_duplicates = np.array([1, 2, 2, 3, 4, 4, 4, 5])
unique_values, counts = np.unique(arr_with_duplicates, return_counts=True)
print("Giá trị duy nhất:", unique_values)
print("Số lần xuất hiện:", counts)

Giá trị duy nhất: [1 2 3 4 5]
Số lần xuất hiện: [1 2 1 3 1]

## Bài tập 9: Liên quan đến Ma trận

![image.png]()

In [16]:
#1: Thực hiện các phép toán:

import numpy as np

# Khai báo ma trận A và B
A = np.array([[10, 1, 2],
              [9, 7, 4],
              [0, 2, 1]])
B = np.array([[2, 3, 4],
              [0, 4, 2],
              [3, 2, 1]])

# Phép nhân ma trận AB
AB = np.dot(A, B)

# Phép nhân ma trận B^T * A * B^T
BATBT = np.dot(np.dot(B.T, A), B.T)

# Phép nhân ma trận A * B * T * A * T
ABTAT = np.dot(np.dot(A, B.T), A.T)

print("AB:\n", AB)
print("B^T * A * B^T:\n", BATBT)
print("A * B^T * A^T:\n", ABTAT)

#Nhận xét: kết quả biểu thức 3 > biểu thức 2

AB:
 [[26 38 44]
 [30 63 54]
 [ 3 10  5]]
B^T * A * B^T:
 [[ 92  46  83]
 [333 188 292]
 [244 114 231]]
A * B^T * A^T:
 [[386 471  50]
 [676 927 117]
 [120 180  25]]

In [17]:
#2: Tính rank, det, và trace của A:

rank_A = np.linalg.matrix_rank(A)
det_A = np.linalg.det(A)
A_minus_I = A - np.eye(3)
trace_A = np.trace(A)

print("Rank of A:", rank_A)
print("Determinant of A:", det_A)
print("A - I:\n", A_minus_I)
print("Trace of A:", trace_A)

Rank of A: 3
Determinant of A: 16.999999999999993
A - I:
 [[9. 1. 2.]
 [9. 6. 4.]
 [0. 2. 0.]]
Trace of A: 18

In [18]:
#3: Phép biến đổi shape ma trận:
# Concatenate ma trận A và B theo dòng
concat_AB = np.concatenate((A, B), axis=0)

# Reshape ma trận A thành vector
A_reshaped = A.reshape(-1)

print("Concatenated A and B:\n", concat_AB)
print("Reshaped A to vector:", A_reshaped)

Concatenated A and B:
 [[10  1  2]
 [ 9  7  4]
 [ 0  2  1]
 [ 2  3  4]
 [ 0  4  2]
 [ 3  2  1]]
Reshaped A to vector: [10  1  2  9  7  4  0  2  1]

In [19]:
#4: Tính toán
# Softmax function
def softmax(x):
    e_x = np.exp(x - np.max(x))
    return e_x / e_x.sum(axis=1, keepdims=True)

# Apply softmax vào từng dòng của A
softmax_A = softmax(A)
print("Softmax of A:\n", softmax_A)

max_indices = np.argmax(softmax_A, axis=1)
print("Indices of max values per row:", max_indices)

# Tính sum, mean, min, max mỗi dòng
sum_row = np.sum(softmax_A, axis=1)
mean_row = np.mean(softmax_A, axis=1)
min_row = np.min(softmax_A, axis=1)
max_row = np.max(softmax_A, axis=1)

print("Tổng mỗi dòng:", sum_row)
print("Trung bình mỗi dòng:", mean_row)
print("Min mỗi dòng:", min_row)
print("Max mỗi dòng:", max_row)

Softmax of A:
 [[9.99541338e-01 1.23353201e-04 3.35308764e-04]
 [8.75600595e-01 1.18499655e-01 5.89975040e-03]
 [9.00305732e-02 6.65240956e-01 2.44728471e-01]]
Indices of max values per row: [0 0 1]
Tổng mỗi dòng: [1. 1. 1.]
Trung bình mỗi dòng: [0.33333333 0.33333333 0.33333333]
Min mỗi dòng: [0.00012335 0.00589975 0.09003057]
Max mỗi dòng: [0.99954134 0.8756006  0.66524096]

## Bài tập 10: Liên quan đến tính toán trên excel

Chỉ được sử dụng Numpy, không được sử dụng pandas

In [20]:
## Kết nối google drive và google collab
from google.colab import drive

drive.mount("/content/drive")

Mounted at /content/drive

In [21]:
## Gọi ra những thư viện cần thiết
import numpy as np
import pandas as pd

In [22]:
## Đọc file data từ google drive
dataset = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/Week4-data_06.xlsx")
print(dataset)
print(dataset.head())

                     Tên  Mã số               Trường cấp 2  Nguyện vọng 1  \
0           QUÁCH KIM HÀ  60132             THCS Phú Cường              6
1       PHẠM TRÚC PHƯƠNG  60421        THCS Trần Đại Nghĩa              6
2         TRẦN KHẢ DOANH  60075    THCS-THPT Nguyễn Khuyến              6
3      NGUYỄN MAI PHƯƠNG  60417        THCS Trần Đại Nghĩa              6
4          TRẦN MINH THY  60558  THCS Nguyễn Thị Minh Khai              6
..                   ...    ...                        ...            ...
636        TRẦN NHẬT ANH  60032       THCS Nguyễn Văn Tiết              6
637  DOÃN THỊ PHƯƠNG ANH  60017            THCS Bình Chiểu              6
638       CÙ THỊ GIA HÂN  60151     THCS Nguyễn Trung Trực              6
639      NGUYỄN TƯỜNG VY  60622        THCS Trịnh Hoài Đức              6
640         LƯU QUANG ĐÔ  60108        THCS Trịnh Hoài Đức              6

     Nguyện vọng 2  Điểm cộng   Văn   Anh  Toán   Tổng  Xếp hạng
0              2.0        3.0  9.00   8.9  8.75  29.65         1
1              7.0        2.0  8.75   9.6  9.25  29.60         2
2              7.0        2.0  8.25   9.6  9.25  29.10         3
3              7.0        NaN  8.75  10.0  9.25  28.00         4
4              2.0        2.0  8.25   9.7  8.00  27.95         5
..             ...        ...   ...   ...   ...    ...       ...
636            8.0        NaN  6.75   3.9  2.75  13.40       637
637           30.0        NaN  6.25   3.6  3.50  13.35       638
638            8.0        NaN  6.00   3.5  3.25  12.75       639
639            8.0        NaN  6.25   3.2  3.00  12.45       640
640           30.0        NaN  5.50   2.4  3.75  11.65       641

[641 rows x 11 columns]
                 Tên  Mã số               Trường cấp 2  Nguyện vọng 1  \
0       QUÁCH KIM HÀ  60132             THCS Phú Cường              6
1   PHẠM TRÚC PHƯƠNG  60421        THCS Trần Đại Nghĩa              6
2     TRẦN KHẢ DOANH  60075    THCS-THPT Nguyễn Khuyến              6
3  NGUYỄN MAI PHƯƠNG  60417        THCS Trần Đại Nghĩa              6
4      TRẦN MINH THY  60558  THCS Nguyễn Thị Minh Khai              6

   Nguyện vọng 2  Điểm cộng   Văn   Anh  Toán   Tổng  Xếp hạng
0            2.0        3.0  9.00   8.9  8.75  29.65         1
1            7.0        2.0  8.75   9.6  9.25  29.60         2
2            7.0        2.0  8.25   9.6  9.25  29.10         3
3            7.0        NaN  8.75  10.0  9.25  28.00         4
4            2.0        2.0  8.25   9.7  8.00  27.95         5

In [24]:
data = dataset.to_numpy()
print(data.shape)

(641, 11)

In [25]:
print(data[0])

['QUÁCH KIM HÀ' 60132 'THCS Phú Cường' 6 2.0 3.0 9.0 8.9 8.75 29.65 1]

In [26]:
print(data.dtype)

object

In [27]:
print(data[0].dtype)

object

In [28]:
np.nan_to_num([0.3, np.nan, 2.4])

array([0.3, 0. , 2.4])

In [29]:
data[:, 5] = np.nan_to_num(data[:, 5].astype(float))
print(data[:, 5])
print(data[-1])

[3.0 2.0 2.0 0.0 2.0 0.0 2.0 0.0 0.0 2.0 2.0 0.0 1.0 0.0 0.0 2.0 2.0 1.0
 0.0 1.0 0.0 0.0 0.0 0.0 2.0 2.0 2.0 0.0 2.0 0.0 0.0 2.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 2.0 0.0 2.0 0.0 2.0 0.0 2.5 0.0 0.0 0.0 2.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 1.0 0.0 2.0 0.0 1.0 0.0 1.0 2.0 0.0 0.0 0.0 0.0 0.0 2.0 0.0 2.0 1.0 0.0
 1.0 0.0 1.0 0.0 1.0 0.0 0.0 1.0 0.0 1.0 2.0 0.0 0.0 0.0 0.0 0.0 2.0 0.0
 0.0 1.0 0.0 0.0 0.0 0.0 1.0 1.0 1.0 0.0 1.0 0.0 0.0 0.0 1.0 0.0 2.0 0.0
 0.0 2.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 1.0 0.0 0.0 1.0 0.0 0.0 0.0
 0.0 1.0 0.0 2.0 0.0 0.0 0.0 2.0 2.0 1.0 1.0 0.0 0.0 0.0 0.0 2.0 0.0 0.0
 1.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 2.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0
 2.0 0.0 2.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 1.0 2.0 0.0 0.0 0.0 0.0 2.0 0.0 1.0 0.0 0.0 0.0 1.0 0.0 0.0
 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0
 1.0 1.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0
 2.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 2.0 0.0 0.0 0.0
 1.5 0.0 1.0 0.0 0.0 0.0 0.0 2.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0
 0.0 0.0 1.0 0.0 0.0 0.0 0.0 2.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 2.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 2.0 0.0 0.0
 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 1.0
 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 1.0 1.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0]
['LƯU QUANG ĐÔ' 60108 'THCS Trịnh Hoài Đức' 6 30.0 0.0 5.5 2.4 3.75 11.65
 641]

In [30]:
## Đưa ra thông tin của bạn với mã số: 60457
## Đưa ra thông tin của bạn với tên là: Nguyễn Đình Nhân
## Đưa ra thông tin của các bạn từ mã số: 60004 đến  60200 (Bạn nào không có thì không cần đưa ra)


## Tính điểm thi trung bình cho từng bạn sinh viên
## Tính điểm thi trung bình theo từng môn cho toàn bộ sinh viên
## Đưa ra điểm thi trung bình cao nhất và thấp nhất cho toàn bộ 3 môn.
## Xếp danh sách dựa vào điểm trung bình của môn Toán + Anh, tìm bạn có vị trí 100


## Giả sử 1 trường lấy toàn bộ 300 sinh viên, dựa theo
## a) Điểm môn Toán từ cao xuống thấp
## b) Điểm tổng 3 môn và điểm cộng từ cao xuống thấp
## c) Điểm trung bình 3 môn từ cao xuống thấp
## Đưa ra danh sách những bạn sinh viên được chọn vào trường đó.


## So sánh 2 bạn sinh viên mã số: 60575 và 60602 dựa trên tổng điểm 3 môn (không tính điểm cộng)

In [31]:
## 1. Đưa ra thông tin của bạn với mã số: 60457

student_id_index = 1  # Giả sử cột mã số là cột thứ 2
info_by_id = data[data[:, student_id_index] == 60457]
print("Thông tin của bạn có mã số 60457:")
print(info_by_id)

Thông tin của bạn có mã số 60457:
[['NGUYỄN LÊ PHƯƠNG TÂM' 60457 'THCS Phú Long' 6 7.0 2.0 7.0 9.4 6.25
  24.65 101]]

In [32]:
## 2. Đưa ra thông tin của bạn với tên là: Nguyễn Đình Nhân

student_name_index = 0  # Giả sử cột tên là cột đầu tiên
info_by_name = data[data[:, student_name_index] == 'NGUYỄN ĐÌNH NHÂN'] #Vì tất cả các tên trong dataset đều viết HOA
print("Thông tin của bạn tên Nguyễn Đình Nhân:")
print(info_by_name)

Thông tin của bạn tên Nguyễn Đình Nhân:
[['NGUYỄN ĐÌNH NHÂN' 60350 'THCS Nguyễn Văn Tiết' 6 7.0 2.0 6.0 8.6 8.0
  24.6 107]]

In [33]:
## 3. Đưa ra thông tin của các bạn từ mã số: 60004 đến  60200 (Bạn nào không có thì không cần đưa ra)

filtered_students = data[(data[:, student_id_index].astype(int) >= 60004) & (data[:, student_id_index].astype(int) <= 60200)]
print("Thông tin của các bạn từ mã số 60004 đến 60200:")
print(filtered_students)

Thông tin của các bạn từ mã số 60004 đến 60200:
[['QUÁCH KIM HÀ' 60132 'THCS Phú Cường' ... 8.75 29.65 1]
 ['TRẦN KHẢ DOANH' 60075 'THCS-THPT Nguyễn Khuyến' ... 9.25 29.1 3]
 ['PHẠM LỢI NGỌC HIỀN' 60158 'THCS Châu Văn Liêm' ... 9.5 27.9 6]
 ...
 ['DOÃN THỊ PHƯƠNG ANH' 60017 'THCS Bình Chiểu' ... 3.5 13.35 638]
 ['CÙ THỊ GIA HÂN' 60151 'THCS Nguyễn Trung Trực' ... 3.25 12.75 639]
 ['LƯU QUANG ĐÔ' 60108 'THCS Trịnh Hoài Đức' ... 3.75 11.65 641]]

In [34]:
## 4. Tính điểm thi trung bình cho từng bạn sinh viên

average_scores = data[:, 7:10].astype(float).mean(axis=1)
print("Điểm trung bình cho từng bạn sinh viên:")
print(average_scores)

Điểm trung bình cho từng bạn sinh viên:
[15.76666667 16.15       15.98333333 15.75       15.21666667 15.76666667
 15.26666667 15.6        15.61666667 15.15       15.2        15.66666667
 15.21666667 15.21666667 15.46666667 14.6        14.81666667 14.85
 14.93333333 14.81666667 15.18333333 14.95       14.75       15.16666667
 14.5        14.63333333 14.85       15.01666667 14.03333333 14.61666667
 14.61666667 14.08333333 14.38333333 14.71666667 14.88333333 14.6
 14.51666667 14.6        14.76666667 14.28333333 14.2        14.13333333
 14.01666667 14.51666667 13.95       14.45       13.75       14.5
 14.18333333 14.31666667 14.23333333 14.41666667 13.91666667 14.75
 14.5        14.25       14.21666667 14.13333333 14.3        13.68333333
 14.35       14.15       14.23333333 13.9        14.2        14.11666667
 14.         14.16666667 14.16666667 14.5        13.8        14.13333333
 13.68333333 14.26666667 13.85       14.15       14.31666667 14.23333333
 13.53333333 14.03333333 13.91666667 13.91666667 13.91666667 13.8
 13.96666667 13.51666667 14.01666667 13.51666667 13.85       14.4
 13.48333333 14.03333333 13.45       13.86666667 13.61666667 14.
 13.83333333 13.75       13.66666667 13.63333333 13.43333333 13.76666667
 13.76666667 13.48333333 13.56666667 13.9        13.73333333 13.78333333
 14.25       13.33333333 13.75       14.16666667 13.8        13.43333333
 13.43333333 13.23333333 13.31666667 13.4        13.23333333 13.4
 13.28333333 13.61666667 13.11666667 13.7        13.2        13.5
 13.91666667 12.75       13.5        13.66666667 13.55       13.46666667
 13.1        13.68333333 13.81666667 13.81666667 13.31666667 13.31666667
 13.28333333 13.45       13.08333333 13.41666667 13.5        13.55
 12.96666667 13.05       13.46666667 12.71666667 13.6        13.18333333
 13.56666667 13.31666667 12.73333333 13.31666667 13.45       13.28333333
 13.25       13.16666667 12.91666667 13.25       13.16666667 13.13333333
 13.21666667 13.35       12.76666667 13.26666667 13.26666667 12.93333333
 13.35       12.93333333 12.9        12.95       12.95       12.78333333
 13.08333333 13.         12.91666667 13.25       12.96666667 12.88333333
 12.46666667 13.46666667 12.55       12.96666667 13.18333333 12.81666667
 13.4        12.98333333 13.06666667 12.73333333 12.81666667 13.45
 12.95       12.95       13.03333333 13.16666667 12.75       13.
 12.75       13.16666667 12.91666667 12.83333333 12.5        13.05
 13.13333333 12.96666667 12.93333333 13.15       12.98333333 12.48333333
 12.56666667 12.98333333 12.95       12.45       12.61666667 13.2
 12.36666667 12.61666667 12.58333333 12.58333333 12.75       13.08333333
 12.91666667 12.55       12.55       12.46666667 13.05       12.63333333
 12.46666667 12.76666667 13.1        12.35       13.1        12.68333333
 12.01666667 12.9        12.81666667 12.81666667 12.65       12.86666667
 12.45       12.95       12.5        12.66666667 13.         12.5
 12.58333333 12.13333333 12.26666667 13.01666667 12.6        12.76666667
 11.68333333 12.23333333 12.73333333 12.31666667 12.56666667 12.81666667
 12.86666667 12.28333333 12.66666667 12.13333333 12.63333333 12.13333333
 12.43333333 12.85       11.85       12.18333333 12.26666667 12.4
 12.23333333 12.31666667 12.23333333 12.28333333 12.28333333 12.61666667
 12.36666667 12.61666667 12.75       12.16666667 12.41666667 12.16666667
 12.41666667 12.25       12.21666667 12.13333333 11.93333333 12.43333333
 12.43333333 12.1        12.15       12.48333333 12.48333333 11.98333333
 12.15       11.78333333 12.45       12.45       12.36666667 11.95
 12.53333333 12.45       11.91666667 12.25       12.16666667 12.08333333
 12.13333333 12.01666667 12.1        12.26666667 12.1        12.26666667
 11.93333333 11.85       11.93333333 12.73333333 12.23333333 12.11666667
 12.45       11.86666667 12.03333333 12.2        11.83333333 12.
 11.83333333 12.05       11.8        12.21666667 11.8        11.85
 11.93333333 11.93333333 11.9        12.31666667 11.98333333 11.9
 11.98333333 11.98333333 12.15       11.28333333 11.86666667 11.61666667
 12.03333333 11.45       11.91666667 12.25       12.25       11.41666667
 11.41666667 11.91666667 12.13333333 12.05       11.63333333 12.18333333
 11.93333333 11.85       11.93333333 11.56666667 11.48333333 11.81666667
 11.9        11.81666667 11.36666667 11.61666667 11.61666667 11.61666667
 11.66666667 11.66666667 12.08333333 11.66666667 11.66666667 12.08333333
 11.66666667 11.96666667 11.46666667 11.35       11.26666667 11.76666667
 11.51666667 12.6        11.65       11.56666667 11.81666667 11.48333333
 12.15       11.53333333 11.75       11.58333333 11.63333333 11.3
 11.96666667 10.96666667 11.43333333 11.68333333 11.26666667 11.35
 11.35       11.68333333 11.43333333 11.4        11.48333333 11.9
 11.9        11.56666667 11.4        11.81666667 11.4        11.48333333
 11.23333333 11.53333333 11.08333333 11.3        11.71666667 10.71666667
 11.35       11.43333333 11.1        11.18333333 11.73333333 11.4
 11.98333333 11.65       11.11666667 11.36666667 11.08333333 11.08333333
 11.33333333 10.91666667 11.41666667 11.16666667 11.05       10.88333333
 11.46666667 11.3        11.18333333 10.51666667 10.9        11.4
 10.65       11.4        11.9        11.15       10.9        11.4
 11.45       11.28333333 10.78333333 10.83333333 11.05       11.13333333
 10.8        11.21666667 11.55       11.01666667 11.01666667 10.98333333
 10.65       10.73333333 11.25       10.91666667 11.         10.91666667
 10.96666667 10.88333333 10.8        10.85       10.76666667 10.56666667
 11.06666667 10.48333333 10.73333333 11.11666667 10.36666667 10.95
 10.95       10.86666667 10.58333333 10.63333333 10.85       11.1
 10.76666667 10.85       10.76666667 10.4        10.56666667 10.4
 10.48333333 11.15       11.03333333 10.28333333 10.03333333 10.7
 10.11666667 10.61666667 10.41666667 10.75       10.91666667 10.58333333
 10.5        10.46666667 10.38333333 10.63333333 10.46666667 10.88333333
 10.55       10.35       10.23333333 10.78333333 11.11666667 10.91666667
 10.41666667 10.91666667 10.66666667 10.75       10.63333333 10.3
 10.46666667 11.18333333 10.43333333 10.6        10.31666667 10.81666667
 10.28333333 10.36666667 10.7        10.7        10.21666667 10.38333333
 10.13333333 10.26666667 10.51666667 10.06666667 10.78333333  9.91666667
 10.05        9.88333333  9.8        10.05       10.01666667 10.1
 10.4         9.73333333  9.65        9.98333333 10.06666667 10.28333333
 10.03333333 10.2        10.16666667  9.55        9.93333333  9.9
  9.73333333 10.48333333 10.15        9.81666667  9.7         9.86666667
  9.78333333  9.66666667 10.08333333 10.          9.58333333  9.88333333
 10.26666667  9.73333333  9.95       10.11666667  9.63333333  9.85
  9.9         9.9         9.56666667  9.61666667  9.78333333  9.7
  9.23333333  9.53333333  9.45        9.75        9.55        9.8
  9.48333333  9.36666667  9.28333333  9.86666667  9.53333333  9.36666667
  9.11666667  9.26666667  8.9         9.03333333  9.          8.88333333
  8.98333333  9.25        9.08333333  8.63333333  9.1         9.35
  8.85        8.76666667  8.68333333  9.23333333  8.56666667  8.81666667
  8.31666667  8.63333333  8.8         8.76666667  9.11666667  8.36666667
  8.41666667  8.55        8.78333333  8.33333333  8.68333333  8.25
  8.25        8.13333333  8.18333333  7.55        7.81666667  7.71666667
  8.3         7.96666667  8.05        7.83333333  7.65        7.63333333
  7.1         7.56666667  7.85        7.25        7.96666667  7.
  6.68333333  6.81666667  6.5         6.21666667  5.93333333]

In [35]:
## 5. Tính điểm thi trung bình theo từng môn cho toàn bộ sinh viên

average_scores_per_subject = data[:, 7:10].astype(float).mean(axis=0)
print("Điểm trung bình theo từng môn:")
print(average_scores_per_subject)

Điểm trung bình theo từng môn:
[ 6.99625585  7.10803432 21.63159126]

In [44]:
## 6. Đưa ra điểm thi trung bình cao nhất và thấp nhất cho toàn bộ 3 môn.

max_scores = data[:, 7:10].astype(float).max(axis=0)
min_scores = data[:, 7:10].astype(float).min(axis=0)
print("Điểm cao nhất theo cả 3 môn:", max_scores)
print("Điểm thấp nhất theo cả 3 môn:", min_scores)

Điểm cao nhất theo cả 3 môn: [10.    9.75 29.65]
Điểm thấp nhất theo cả 3 môn: [ 2.4   1.75 11.65]

In [38]:
## 7. Xếp danh sách dựa vào điểm trung bình của môn Toán + Anh, tìm bạn có vị trí 100

# Cộng điểm Toán (cột 9) và Anh (cột 8), sau đó sắp xếp
math_english_scores = data[:, [8, 9]].astype(float).sum(axis=1)
sorted_indices = np.argsort(-math_english_scores)  # Sử dụng negative để sắp xếp giảm dần
position_100_student = data[sorted_indices[99]]  # Lấy vị trí thứ 100 (chỉ số bắt đầu từ 0)
print("Bạn ở vị trí thứ 100 khi xếp theo Toán + Anh:")
print(position_100_student)

Bạn ở vị trí thứ 100 khi xếp theo Toán + Anh:
['TRẦN TRUNG KIÊN' 60202 'THCS Trịnh Hoài Đức' 6 8.0 2.0 6.75 8.9 7.5
 25.15 75]

In [39]:
## Giả sử 1 trường lấy toàn bộ 300 sinh viên. Sắp xếp theo 3 trường hợp:

In [40]:
## a) Điểm môn Toán từ cao xuống thấp

sorted_by_math = data[np.argsort(-data[:, 9].astype(float))]
top_students_by_math = sorted_by_math[:300]
print("Top 300 sinh viên theo điểm Toán:")
print(top_students_by_math)

Top 300 sinh viên theo điểm Toán:
[['QUÁCH KIM HÀ' 60132 'THCS Phú Cường' ... 8.75 29.65 1]
 ['PHẠM TRÚC PHƯƠNG' 60421 'THCS Trần Đại Nghĩa' ... 9.25 29.6 2]
 ['TRẦN KHẢ DOANH' 60075 'THCS-THPT Nguyễn Khuyến' ... 9.25 29.1 3]
 ...
 ['NGUYỄN NGỌC MINH TÚ' 60477 'THCS Nguyễn Trung Trực' ... 7.5 22.05 300]
 ['LÝ GIA KHANG' 60223 'THCS Trịnh Hoài Đức' ... 6.0 22.05 296]
 ['NGUYỄN QUỐC AN' 60002 'THCS Trần Đại Nghĩa' ... 8.0 22.05 298]]

In [41]:
## b) Điểm tổng 3 môn và điểm cộng từ cao xuống thấp

total_scores_with_bonus = data[:, 7:10].astype(float).sum(axis=1) + data[:, 6].astype(float)
sorted_by_total_scores = data[np.argsort(-total_scores_with_bonus)]
top_students_by_total_scores = sorted_by_total_scores[:300]
print("Top 300 sinh viên theo tổng điểm 3 môn và điểm cộng:")
print(top_students_by_total_scores)

Top 300 sinh viên theo tổng điểm 3 môn và điểm cộng:
[['PHẠM TRÚC PHƯƠNG' 60421 'THCS Trần Đại Nghĩa' ... 9.25 29.6 2]
 ['QUÁCH KIM HÀ' 60132 'THCS Phú Cường' ... 8.75 29.65 1]
 ['TRẦN KHẢ DOANH' 60075 'THCS-THPT Nguyễn Khuyến' ... 9.25 29.1 3]
 ...
 ['NGÔ HỒ TƯỜNG VY' 60618 'THCS Phú Long' ... 6.25 22.45 264]
 ['TRƯƠNG ĐỨC HỒNG PHÚC' 60403 'THCS Bình Chuẩn' ... 8.5 21.9 313]
 ['HỒ ĐÌNH MẠNH' 60284 'THCS Nguyễn Viết Xuân' ... 7.0 21.9 310]]

In [42]:
## c) Điểm trung bình 3 môn từ cao xuống thấp

average_scores_three_subjects = data[:, 7:10].astype(float).mean(axis=1)
sorted_by_average_scores = data[np.argsort(-average_scores_three_subjects)]
top_students_by_average_scores = sorted_by_average_scores[:300]
print("Top 300 sinh viên theo điểm trung bình 3 môn:")
print(top_students_by_average_scores)

Top 300 sinh viên theo điểm trung bình 3 môn:
[['PHẠM TRÚC PHƯƠNG' 60421 'THCS Trần Đại Nghĩa' ... 9.25 29.6 2]
 ['TRẦN KHẢ DOANH' 60075 'THCS-THPT Nguyễn Khuyến' ... 9.25 29.1 3]
 ['QUÁCH KIM HÀ' 60132 'THCS Phú Cường' ... 8.75 29.65 1]
 ...
 ['ĐOÀN HẢI LINH' 60253 'THCS Thuận Giao' ... 6.25 22.4 268]
 ['VŨ ĐỨC ANH KIỆT' 60206 'THCS-THPT Nguyễn Khuyến' ... 9.25 21.4 354]
 ['NGUYỄN TRẦN PHƯƠNG VY' 60624 'THCS Nguyễn Thị Minh Khai' ... 7.75
  22.25 280]]

In [46]:
## So sánh 2 bạn sinh viên mã số: 60575 và 60602 dựa trên tổng điểm 3 môn (không tính điểm cộng)

# Tìm thông tin của hai sinh viên
student_60575 = data[data[:, 1] == 60575]
student_60602 = data[data[:, 1] == 60602]

# Tính tổng điểm 3 môn
total_score_60575 = student_60575[:, 7:10].astype(float).sum()
total_score_60602 = student_60602[:, 7:10].astype(float).sum()

print("Tổng điểm 3 môn của sinh viên 60575:", total_score_60575)
print("Tổng điểm 3 môn của sinh viên 60602:", total_score_60602)

# So sánh
if total_score_60575 > total_score_60602:
    print("Sinh viên 60575 có tổng điểm cao hơn.")
elif total_score_60575 < total_score_60602:
    print("Sinh viên 60602 có tổng điểm cao hơn.")
else:
    print("Hai sinh viên có tổng điểm bằng nhau.")

Tổng điểm 3 môn của sinh viên 60575: 39.95
Tổng điểm 3 môn của sinh viên 60602: 40.35
Sinh viên 60602 có tổng điểm cao hơn.

Hết 10 bài. Cảm ơn TS. Nguyễn Văn Thiệu