Pokemon

Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

Step 2. Create a data dictionary that looks like the DataFrame below

In [2]:
dictionary = {'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod']
    , 'hp': [45, 39, 44, 45]
    , 'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie']
    , 'pokedex': [True, False, True, False]
    , 'type': ['grass', 'fire', 'water', 'bug']}

Step 3. Assign it to a variable called pokemon

In [3]:
pokemon = pd.DataFrame(dictionary)

In [4]:
pokemon

    evolution  hp        name  pokedex   type
0     Ivysaur  45   Bulbasaur     True  grass
1  Charmeleon  39  Charmander    False   fire
2   Wartortle  44    Squirtle     True  water
3     Metapod  45    Caterpie    False    bug

Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place the order of the columns as name, type, hp, evolution, pokedex

In [7]:
pokemon = pokemon[['name', 'type', 'hp', 'evolution', 'pokedex']]
pokemon

         name   type  hp   evolution  pokedex
0   Bulbasaur  grass  45     Ivysaur     True
1  Charmander   fire  39  Charmeleon    False
2    Squirtle  water  44   Wartortle     True
3    Caterpie    bug  45     Metapod    False

Step 5. Add another column called place, and insert what you have in mind.

In [9]:
pokemon['language'] = ['python', 'java', 'c', 'c++']
pokemon

         name   type  hp   evolution  pokedex     place language
0   Bulbasaur  grass  45     Ivysaur     True      bush   python
1  Charmander   fire  39  Charmeleon    False   volcano     java
2    Squirtle  water  44   Wartortle     True      lake        c
3    Caterpie    bug  45     Metapod    False  mountain      c++

Step 6. Display the data type of each columnÂ¶

In [10]:
pokemon.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex        bool
place        object
language     object
dtype: object